[Unit]
Description=Run JW Research crawler on a schedule

[Timer]
OnCalendar=*:0/20
Persistent=true
RandomizedDelaySec=5m
Unit=jw-crawler.service

[Install]
WantedBy=timers.target
